.CharCard {
  padding: 16px;
  border: 1px solid transparent;
  transition: all .4s;
  width:260px;
  height: 260px;
  position:relative;
}
.CharCard img{
  width:100%;
  height: 100%;
}
.CharCard:hover {
  background-color: #FCF7F3;
  border: 1px solid black;
  box-shadow: 0 1px 2px;
}
