header.Jumbotron {
  background-color: #FCF7F3;
  background-repeat: repeat;
  color: black;
  min-height: 50px;
  padding: 8px 20px;
  text-align: center;
}
@media(max-width: 400px){
  h1, h2, h3{
    font-size:1.4rem;
  }
}